
body {
  background-color: #E7E3E0;
  font-family: Work Sans, Arial, sans-serif;
}

.row {
  margin-left: 0;
  margin-right: 0;
  min-height: 540px;
  margin-bottom: 50px;
}
.cart {
}

.productName {
  float: right;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  top: 25px;
}

.productPrice {
  float: right;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 28px;
  top: 25px;
}

.productDesc {
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  top: 115px;
  word-wrap: break-word;
  float: right;
  width: auto;
}

.photo-gallery {
  margin-right: 28px;
  float: right;
  width: 228px;
  height: 300px;
}

.photo-gallery img {
  border: 1px solid #969491;
}

.btn-primary {
  height: 43px;
  width: 174px;
  font-size: 16px;
}

.radio {
  margin-bottom: 20px;
}

table.risResponse {
  margin: 0 auto;
  width: 70%;
  font-family: Arial;
  border-collapse: collapse;
  border: 1px solid #eee;
  border-bottom: 2px solid lightgrey;
  box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
  0px 10px 20px rgba(0,0,0,0.05),
  0px 20px 20px rgba(0,0,0,0.05),
  0px 30px 20px rgba(0,0,0,0.05);
}

table.risResponse tr:hover {
  background: #efefef;
}

table.risResponse th  {
  background: lightgrey;
  padding: 12px 35px;
  font-family: sans-serif;
}

table.risResponse th, table.risResponse td {
  border: 1px solid #eee;
  padding: 12px 35px;
  border-collapse: collapse;
  font-family: sans-serif;
}

.explSpan {
  margin-top: 20px;
}

.pricingForm {
  height: 210px;
}

label.formLabel {
  height: 15px;
  width: 130px;
  font-style: oblique;
  font-size: 14px;
  color: #666666;
  font-weight: 400 !important;
  padding-bottom: 20px;
}

form.pricingForm input.form-control {
  min-width: 250px;
  height: 25px;
  background-color: #CCCCCC !important;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-align: right;
  color: #666666;
}

.responsePricingForm {
  height: auto;
  margin-top: 20px;
}

.responsePricingForm input.form-control {
  min-width: 250px;
  height: 25px;
  background-color: #CCCCCC !important;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-align: right;
  color: #666666;
}

.responsePricingForm label.formLabel {
  height: 15px;
  width: 160px;
  font-style: oblique;
  font-size: 14px;
  color: #666666;
  font-weight: 400 !important;
  padding-bottom: 20px;
}

.checkoutBtn {
  position: absolute;
  top: 400px;
  left: -230px;
}

.checkoutBtn .btn, .submitLogin .btn {
  background-color: #0096AA;
}

.checkoutBtn .btn:hover, .submitLogin .btn:hover {
  background-color: rgba(0, 203, 232, 1);
}

h4 {
  font-weight: bold;
}

.product {
  min-height: 500px;
  height: auto;

}

.product-9 {
  min-height: 500px;
  height: auto;
  border-right: 1px solid #646464;
}

.col-md-6.explanation {
  min-height: 500px;
  height: auto;
  top: 45px;
  border-left: 1px solid #646464;
}

.checkoutForm input.form-control, .checkoutForm select.form-control {
  max-width: 180px;
  float: right;
  width: 88%;
}

.checkoutForm td {
  font-size: 14px;
}

.checkout {
  min-height: 500px;
  height: auto;
}

.checkout .col-md-8 {
  border-right: 1px solid #646464;
  min-height: 500px;
}

.explanationCol {
  min-height: 500px;
  height: auto;
}

.shipping {
  background-color: #0096AA;
}

.shipping:hover {
  background-color: rgba(0, 203, 232, 1);
}

.left {
  float: left;
  margin-left: 10px;
  width: 45%;
}

.leftInfo {
  height: 30px;
  width: 100%;
}

.left span.productInfo {
  float: left;
  font-weight: bold;
  font-size: 14px;
}

.left button {
  float:left;
  font-weight: 700;
  max-width: 130px;
}

.right {
  float: right;
  margin-right: 17px;
  width: 45%;
}

.right p {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 10px;
  display: block;
}

.right button {
  float: right;
  font-weight: 700;
  max-width: 130px;
  margin-top: 14px;
}

.right input.amount {
  width: 90px;
  text-align: right;
  float: right;
  font-size: 14px;
  line-height: 1.4285;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
}

.right span {
  float: right;
  padding-top: 5px;
  padding-left: 20px;
}

.leftRes {
  float: left;
  max-width: 180px;
}

.leftRes button {
  float:left;
  font-weight: 700;
  max-width: 160px;
}

.rightRes {
  float: right;
  max-width: 180px;
  margin-right: 17px;
}

.rightRes button {
  float: right;
  font-weight: 700;
  max-width: 130px;
}

.bottomDiv {
  margin-top: 260px;
}

.bottomDiv .left {
  margin-left: 0;
}

.line {
  width: 100%;
  border: 0.001em solid #989898;
  margin-top: 220px;
  margin-bottom: 20px;
}

.reviewSpan {
  font-weight: 700;
  font-family: Work Sans, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 20px;
  font-style: normal;
}

.radioButtons {
  height: 36px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 90%;
}

.approve, .review, .decline {
  float: left;
  width: 44px;
  height: 35px;
  margin-left: 5px;
}

.productInfo {
  font-weight: 700;
  font-family: Work Sans, Arial, sans-serif;
  text-align: left;
}

.inputTotal {
  width: 90px;
  float: right;
  font-size: 14px;
  line-height: 1.4285;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px;
  text-align: right;
}

.labelTotal {
  width: 46px;
  margin-right: 28px;
  font-weight: 700;
  font-family: Work Sans, Arial, sans-serif;
  float: right;
  margin-top: 3px;
}

.labelQuantity {
  float: right;
  font-weight: 700;
  font-family: Work Sans, Arial, sans-serif;
  margin-top: 3px;
  margin-right: 15px;
}

.amountDiv {
  height: 30px;
}

.totalDiv {
  margin-top: 10px;
  height: 30px;
}

.leftSpanPrice {
  font-size: 15px;
  float: right;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 700;
}

.inputExpand {
  display: none;
  visibility: hidden;
}

.labelExpand {
  display: block;
  padding: 0.5em;
  text-align: center;
  border-bottom: 1px solid #CCC;
  color: #2f2f2d;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.labelExpand:hover {
  color: #898989;
}

.labelExpand::before {
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  vertical-align: text-top;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-right: 3px;
  background: radial-gradient(ellipse at center, #CCC 50%, transparent 50%);
}

.fullResponse {
  margin: 0 auto 40px auto;
}

h3.heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: #595959;
}

.fullResponse .formLabel {
  height: 15px;
  width: 180px;
  font-style: oblique;
  font-size: 14px;
  color: #666666;
  font-weight: 400 !important;
  padding-bottom: 20px;
}

.fullResponse .form-control {
  min-width: 250px;
  height: 25px;
  background-color: #CCCCCC !important;
  font-family: Work Sans, Arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  text-align: right;
  color: #666666;
}

.loginForm {
  min-height: 225px;
  max-width: 339px;
}

.col-md-8.login {
  margin: 100px auto 0 auto;
  min-height: 300px;
}

.loginForm input {
  width: 300px;
  height: 30px;
  font-family: "Work Sans", Arial, SansSerif;
  font-weight: 400;
  font-style: normal;
  font-size:  13px;
  text-decoration: none;
  text-align: left;
}

.submitLogin {
  width: 300px;
  height: 55px;
  margin-top: 35px;
}

button.login {
  float: right;
  width: 140px;
  height: 40px;
  font-weight: 600;
}

.guestSpan {
  margin-left: 60px;
  font-size: 17px;
}

.passTooltip {
  width: 40px;
  float: right;
  margin-bottom: 5px;
  position: relative;
}

.passTooltip img {
  margin-bottom: 2px;
}

.questionMark {
  margin-left: -16px;
  font-family: "Work Sans";
}

.tooltipText {
  position: absolute;
  padding-left: 4px;
  top: 24px;
  left: 23px;
  visibility: hidden;
  display: none;
  width: 205px;
  height: 90px;
  background-color: rgba(255, 255, 255, 1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(121, 121, 121, 1);
  box-shadow: none;
  font-family: 'Arial';
  font-weight: 400;
  font-style: normal;
  font-size: 11px;
  color: #000000;
  text-align: left;
  z-index: 200;
}

.passTooltip:hover .tooltipText {
  visibility: visible;
  display: block;
}